@charset "UTF-8";

html{
  font-size: 100%;
  background-image:url(../images/sky.jpg);
  background-size: cover;
}
#main-nav{
  font-size:30px;
  text-align: right;
  justify-content: space-between;
}


body {
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
    
}

.top-contents{
    font-size:100px;
    text-align: center;
    margin-top: 15%;
  }

h1{
    font-size: 50px;
  }

p {
    font-size: 25px;
    margin:0 0 0 0;
  }
fotter{
    text-align:right;
    padding-top: 50%;

}
#second-nav{
  font-size: 30px;
  text-align: right;
}

