@charset "UTF-8";
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
    text-align: center;
    background-color: antiquewhite;
}
.name{
    margin:20px 80px;
}
h2{
    margin-top: 80px;
}
.skill{
    display: flex;
    flex:1;
}
.box{
    position: relative;
    flex:1;
    margin:20px 80px;
    padding: 0.5em 1em;
    border:solid 3px burlywood;
    border-radius: 8px;
}
.box-title{
    position: absolute;
    top:-13px;
    left:10px;
    padding:0 9px;
    line-height: 1;
    font-size:19px;
    background-color:burlywood;
    font-weight:bold;
}

